<nav class="navbar navbar-expand-lg navbar-light sticky-top w3-card w3-fix-top" style="background-color: #fff;">
  
  <a class="navbar-brand" href="#">
    <a href="#" class="w3-bar-item w3-button w3-text-white"> <img src="assets/VIPA 002-01.jpg" class="w3-image" style="height:50px"  [routerLink]="['/']"></a>
    
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="border:1px solid #0d5fa3;">
    <span class="navbar-toggler-icon" style="color: #0d5fa3;"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto w3-text-center">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#" style="color: #0d5fa3;font-size: 20px">Home <span class="sr-only">(current)</span></a>
      </li> -->
      <!-- <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #0d5fa3;font-size: 20px">
          Products
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="color: #0d5fa3;font-size: 20px">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something</a>
        </div>
      </li> -->
      <li class="nav-item active w3-margin">
        <a class="nav-link" href="#" style="color: #0d5fa3;font-size: 20px;"  [routerLink]="['/about']">About</a>
      </li>
      <li class="nav-item active w3-margin">
        <a class="nav-link" href="#" style="color: #0d5fa3;font-size: 20px;"  [routerLink]="['/contact']">Contact us</a>
      </li>
   
      <li class="nav-item active w3-margin">
        <a class="nav-link" href="#" style="color: #0d5fa3;font-size: 20px;"  [routerLink]="['/login']">Login</a>
      </li>
   
     
    </ul>
    
  </div>

</nav>

<router-outlet></router-outlet>