<div class="w3-container w3-padding-16 w3-center">
    <div class="row" *ngIf="profile">
      <div class="col-lg-12 col-sm-6">
  
              <div class="card hovercard" style="box-shadow:4px 4px 4px rgb(212, 212, 212);">
                  <div class="cardheader">
  
                  </div>
                  <div class="avatar">
                      <img src="assets/vips.jpg" style="width: 300px;height: 300px;">
                  </div>
                  <div class="info">
                      <div class="title">
                          <h1> {{profile[0].name}}</h1>
                          <h1> @ {{profile[0].username}}</h1>

                      </div>
                          <h3> {{profile[0].contact}}</h3>
                      <h3>{{profile[0].email}}</h3>
                  </div>
                 <div class="w3-row">
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <button type="button" class="btn btn-outline-info">Download QR</button>
                      <button type="button" class="btn btn-outline-info">Contact Details</button>
                    </div>
                 </div>
                  <div class="w3-container w3-margin">
                  <a href="#" class="fa fa-facebook"></a>
  <a href="#" class="fa fa-twitter"></a>
  <a href="#" class="fa fa-google"></a>
  <a href="#" class="fa fa-linkedin"></a>
  <a href="#" class="fa fa-youtube"></a>
  <a href="#" class="fa fa-instagram"></a>
  <a href="#" class="fa fa-pinterest"></a>
  <a href="#" class="fa fa-snapchat-ghost"></a>
  <a href="#" class="fa fa-skype"></a>
  </div>
              </div>
          </div>
  
    </div>
  </div> 
  
