<header class="w3-container w3-center w3-padding-32 w3-center" id="grad1"><br>
  <img src="assets/logo1.png" class="w3-image w3-center" style="height: 300px;"><br>
  <h1 class="w3-margin" style="color: #0d5fa3;font-size:3vw;"><b>"Connecting for a brighter future"</b></h1>

</header>
<div class="w3-padding-64 w3-white">
  <div class="w3-row-padding">
    <div class="w3-col l8 m6 ">
      <h1 class="w3-jumbo w3-margin"><b>TAC</b></h1>
      <h1 class="w3-xxxlarge w3-margin" style="color: #0d5fa3"><b>Why buy it?</b></h1>
      <p class="w3-margin"><span class="w3-xlarge">Take photos like a pro.</span> You should buy this app because lorem
        ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <button class="w3-button  w3-padding-large w3-section  w3-margin w3-text-white" style="background-color: #0d5fa3">
        <i class="fa fa-download"></i> Download Application
      </button>
    </div>
    <div class="w3-col l4 w3-center">
      <div class="w3-container w3-center w3-margin-bottom">
        <br><br><br>
        <div class="flip-box w3-center">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img src="assets/9.png" alt="Paris" class="w3-image w3-margin-bottom w3-center">
              <br><br>
            </div>
            <div class="flip-box-back">
              <img src="assets/10.png" alt="Paris" class="w3-image w3-margin-bottom w3-center">
              <br><br><br><br><br>
            </div>
          </div>
          <br>
        </div>
      </div>

    </div>
  </div>
</div>







<div class="w3-padding-64 w3-white">
  <div class="row featurette w3-row-padding">
    <div class="col-md-7 order-md-2 w3-center">
      <h2 class="featurette-heading w3-margin">Oh yeah, it’s that good. <span class="text-muted">See for
          yourself.</span></h2>
      <p class="lead w3-margin">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
        euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
        commodo.</p>
    </div>
    <div class="col-md-5 order-md-1 w3-center">
      <img src="assets/gif4.gif"
        class="w3-image featurette-image img-fluid mx-auto w3-display-container w3-padding w3-center"
        style="height: 300px;margin-top: 4px;"><br>

    </div>
    <br><br>
  </div>

  <hr class="featurette-divider">
  <div class="w3-padding-64 w3-white">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading w3-margin">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead w3-margin">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
          euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac
          cursus commodo.</p>
      </div>
      <div class="col-md-5 w3-center">
        <img src="assets/gif2.jpg"
          class="w3-image  featurette-image img-fluid mx-auto w3-display-container w3-padding w3-center"
          height="300"><br>
      </div>
    </div>
  </div>
</div>
<hr class="featurette-divider">
<div class="w3-padding-64 w3-white">
  <div class="row featurette w3-row-padding">
    <div class="col-md-8 order-md-2">
      <h2 class="featurette-heading w3-margin">Oh yeah, it’s that good. <span class="text-muted">See for
          yourself.</span></h2>
      <p class="lead w3-margin">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
        euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
        commodo.</p>
    </div>
    <div class="col-md-4 order-md-1 w3-center">
      <div class="w3-display-container w3-center w3-hover-opacity-off" style="transition:0.5s;width:100%">
        <img src="assets/7.png" alt="Pants" style="width:100%;">
        <div class="w3-display-topleft w3-display-hover w3-large">
          <button type="button" class="w3-white w3-animate-opacity w3-btn w3-margin w3-round" title="Save"><i
              class="fa fa-heart w3-text-red"></i></button>
        </div>
        <div class="w3-display-topleft w3-display-hover w3-large" style="left:65px">
          <button type="button" class="w3-white w3-animate-opacity w3-btn w3-margin w3-round" title="Share"><i
              class="fa fa-paper-plane w3-text-grey"></i></button>
        </div>
        <div class="w3-display-topright w3-display-hover w3-large">
          <button type="button" class="w3-white w3-animate-opacity w3-btn w3-margin w3-round" title="Shopping Cart"><i
              class="fa fa-shopping-cart w3-text-grey"></i></button>
        </div>
        <div class="w3-display-bottomleft w3-display-hover w3-large w3-text-white">
          <div class="w3-padding w3-animate-opacity">TAC card, $19.99</div>
        </div>
        <div class="w3-display-middle w3-display-hover w3-large">
          <button type="button" class="w3-green w3-animate-opacity w3-btn w3-round">Shop Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="featurette-divider">
<!-- /END THE FEATURETTES -->

<div class="w3-padding-64 w3-white">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading w3-margin">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
      <p class="lead w3-margin">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
        euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac
        cursus commodo.</p>
    </div>
    <div class="col-md-5 w3-center">
      <img src="assets/b1.jpg"
        class="w3-image  featurette-image img-fluid mx-auto w3-display-container w3-padding w3-center" height="300"><br>
    </div>
  </div>
</div>
<hr class="featurette-divider">
<!-- /.container -->




<!-- The App Section -->
<div class="w3-container w3-padding-64">
  <h3 class="w3-center">ABOUT THE COMPANY</h3>
  <p class="w3-center w3-large">Key features of our company</p>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-quarter">
      <span class="w3-badge w3-jumbo w3-padding w3-round-xxlarge" style="background-color: #0d5fa3;">
        <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center" style="color: #fff"></i></span>
      <p class="w3-large">Responsive</p>

    </div>
    <div class="w3-quarter">
      <span class="w3-badge w3-jumbo w3-padding w3-round-xxlarge" style="background-color: #0d5fa3;">
        <i class="fa fa-heart w3-margin-bottom w3-jumbo w3-center" style="color: #fff"></i></span>
      <p class="w3-large">passion</p>

    </div>
    <div class="w3-quarter">
      <span class="w3-badge w3-jumbo w3-padding w3-round-xxlarge" style="background-color: #0d5fa3;">
        <i class="fa fa-paint-brush w3-margin-bottom w3-jumbo w3-center" style="color: #fff;margin:1px"></i></span>
      <p class="w3-large">Design</p>

    </div>
    <div class="w3-quarter">
      <span class="w3-badge w3-jumbo w3-padding-large w3-round-xxlarge" style="background-color: #0d5fa3;">
        <i class="fa fa-cog w3-margin-bottom w3-jumbo w3-center" style="color: #fff"></i></span>
      <p class="w3-large">Support</p>

    </div>

  </div>

</div>






<hr>

<div class="w3-container w3-margin w3-padding-64">
  <h3 class="w3-center">Subscription Packages</h3><br>
  <div class="w3-row-padding" style="margin:0 -16px">
    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-white w3-center w3-opacity w3-hover-opacity-off">
        <li class="w3-black w3-xlarge w3-padding-32">Basic</li>

        <li class="w3-padding-16">1GB Storage</li>
        <li class="w3-padding-16">Mail Support</li>
        <li class="w3-padding-16">
          <h2>$ 10</h2>
          <span class="w3-opacity">per month</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="w3-button  w3-padding-large w3-hover-black w3-text-white"
            style="background-color: #0d5fa3">Sign Up</button>
        </li>
      </ul>
    </div>

    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-white w3-center w3-opacity w3-hover-opacity-off ">
        <li class=" w3-xlarge w3-padding-32  w3-text-white" style="background-color: #0d5fa3">Pro</li>

        <li class="w3-padding-16">50GB Storage</li>
        <li class="w3-padding-16">Endless Support</li>
        <li class="w3-padding-16">
          <h2>$ 25</h2>
          <span class="w3-opacity">per month</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="w3-button w3-padding-large w3-hover-black  w3-text-white"
            style="background-color: #0d5fa3">Sign Up</button>
        </li>
      </ul>
    </div>

    <div class="w3-third">
      <ul class="w3-ul w3-border w3-white w3-center w3-opacity w3-hover-opacity-off">
        <li class="w3-black w3-xlarge w3-padding-32">Premium</li>

        <li class="w3-padding-16">Unlimited Storage</li>
        <li class="w3-padding-16">Endless Support</li>
        <li class="w3-padding-16">
          <h2>$ 25</h2>
          <span class="w3-opacity">per month</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="w3-button  w3-padding-large w3-hover-black  w3-text-white"
            style="background-color: #0d5fa3">Sign Up</button>
        </li>
      </ul>
    </div>
  </div>
</div>
<hr>

<div class="w3-container w3-padding-48 marketing">
  <h3 class="w3-center w3-margin">Our Products</h3><br>
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4 w3-center">
      <img alt="Boss" src="assets/abc.jpg" width="140" height="140" focusable="false" role="img"
        class="w3-circle w3-hover-opacity">

      <h2>Heading</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula
        ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 w3-center">
      <img alt="Boss" src="assets/abc.jpg" width="140" height="140" focusable="false" role="img"
        class="w3-circle w3-hover-opacity">

      <h2>Heading</h2>
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis
        consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
      </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 w3-center">
      <img alt="Boss" src="assets/abc.jpg" width="140" height="140" focusable="false" role="img"
        class="w3-circle w3-hover-opacity">

      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
        felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
        massa justo sit amet risus.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>



<footer class="w3-container w3-padding-32 w3-center w3-card" style="background-color: #0d5fa3;">
  <h4 class="w3-text-white">Follow Us</h4>
  <a class="w3-button w3-large w3-white w3-text-black" href="javascript:void(0)" title="Facebook"><i
      class="fa fa-facebook"></i></a>
  <a class="w3-button w3-large w3-white w3-text-black" href="javascript:void(0)" title="Twitter"><i
      class="fa fa-twitter"></i></a>
  <a class="w3-button w3-large w3-white w3-text-black" href="javascript:void(0)" title="Google +"><i
      class="fa fa-google-plus"></i></a>
  <a class="w3-button w3-large w3-white w3-text-black" href="javascript:void(0)" title="Google +"><i
      class="fa fa-instagram"></i></a>
  <a class="w3-button w3-large w3-white w3-text-black w3-hide-small" href="javascript:void(0)" title="Linkedin"><i
      class="fa fa-linkedin"></i></a>

</footer>